body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;

}
.badge{
    background-color: red;
    color: #fff;
    padding: 16px;
    text-align: center;

}
@media (min-width: 768px){
    .badge{
        background-color: orange;
    }
}

@media (min-width: 1024){
    .badge{
        background-color: green;
    }
}