#container ul{
    height: 30px;
    background-color: yellowgreen;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#container ul li {
    display: flex;
    list-style: none;
}
@media (max-width: 300px){

    #container ul{
   width: 30px;
    background-color: yellowgreen;
    display: flex;
    gap: 30px;
    flex-direction: column;
    height: 100%;

    }
}